{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    
        <div class="container">
            <h5>Apartment Listing</h5>
            <h5>Search For Specific Apartment</h5>
            <form method="get">
                <div class="row">
                    <div class="col-md-4">{{ myFilter.form.apartment_name|as_crispy_field}}</div>
                    <div class="col-md-4">{{ myFilter.form.apartment_type|as_crispy_field}}</div>
                    <div class="col-md-4">{{ myFilter.form.town_located|as_crispy_field}}</div>
                </div><br>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <td>Apartment Name</td>
                        <td>Apartment Owner</td>
                        <td>Apertment Type</td>
                        <td>House Type</td>
                        <td>Town Located</td>
                        <td>Apartment Location</td>
                        <td>Management Fee Percentage(%)</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tbody>
                        {% for apartment in myFilter.qs %}
                        <tr>
                            <td>{{apartment.apartment_name}}</td>
                            <td>{{apartment.apartment_owner}}</td>
                            <td>{{apartment.apartment_type}}</td>
                            <td>{{apartment.apartment_type}}</td>
                            <td>{{apartment.town_located}}</td>
                            <td>{{apartment.apartment_location}}</td>
                            <td>{{apartment.management_fee}}</td>
                            <td><a href="#" class="btn text-secondary px-0">
                                <i class="fa fa-edit fa-lg"></i>
                            </a></td>
                            <td><a href="#" class="btn text-secondary px-0">
                                <button class="btn btn-warning"><i class="fa fa-eye fa-lg"></i></button>
                            </a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
    
                </thead>
    
    
            </table>
        </div>

    </div>
    
</div>
{% endblock content %}