{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
    
        <div class="container">
            <h5>Registered Houses</h5>
            <form action="">
                <button type="button" class="btn btn-primary">Search</button>
            </form>
            <table class="table table-borderless">
                <thead class="border-bottom font-weight-bold">
                    <tr>
                        <td>Apartment</td>
                        <td>House Number</td>
                        <td>Monthly Rent</td>
                        <td>House Deposit</td>
                        <td>House Type</td>
                        <!-- <td>Description</td> -->
                        <td>Date created</td>
                        <td></td>
                    </tr>
                    <tbody>
                        {% for house in houses %}
                        <tr>
                            <td>{{house.apartment}}</td>
                            <td>{{house.house_no}}</td>
                            <td>{{house.monthly_rent}}</td>
                            <td>{{house.deposit}}</td>
                            <td>{{house.house_type}}</td>
                            <!-- <td>{{house.descption}}</td> -->
                            <td>Date created</td>
                            <td><a href="#" class="btn text-secondary px-0">
                                <i class="fa fa-edit fa-lg"></i>
                            </a></td>
                            <td><a href="#" class="btn text-danger px-0">
                                <i class="fa fa-trash fa-lg"></i>
                            </a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
    
                </thead>
    
    
            </table>
        </div>

    </div>
    
</div>
{% endblock content %}
    
