{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'assets/CSS/style.css' %}">
    <title>Invoice</title>
</head>
<body onload="startDate()">
    <h1 style="color:red;font-size:20px" align="center">BlACKOAZ RENTAL MANAGEMENT SYSTEM</h1>
<p style="" align="center">
    <b>Blackoaz building 3<sup>rd</sup> Floor</b> <br>
    <b>Tsavo Road</b> <br>
    <b>P.o Box 1234-00100</b>

</p>
<hr>
<h2>Date: {{invoice.tenant.date_created}}</h2>
<div class="container">
    <table>
        <thead>
            <tr>
                <td colspan="4"><b>Billing Details</b></td>
                <td><b>Invoice To</b></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4">Total Dues: {{invoice.house.monthly_rent}}</td>
                <td>Tenant Name: {{invoice.tenant}}</td>
            </tr>
            <tr>
                <td colspan="4">House Number: {{invoice.house.house_no}}</td>
                <td>Tenant Number: {{invoice.tenant.phoneNumber}}</td>
            </tr>
            <tr>
                <td colspan="4">Apartment Name: {{invoice.apartment}}</td>
                <td>Tenant National ID: {{invoice.tenant.national_Id}}</td>
            </tr>
        </tbody>
    </table>
    <h2 style="text-align: center;">Payment Specifics</h2>
        <hr>
        
    
    
    {% if invoice.payment_status == 'paid' %}
    <button type="button" class="btn btn-success" style="border: 1px solid;">Payement Status: <span>{{invoice.payment_status}}</span></button>
    {% else %}
    <button type="button" class="btn btn-danger" style="border: 1px solid;">payement Status: <span>{{invoice.payment_status}}</span></button>
    {% endif %}
    <hr>

</div>

<script>
    function startDate(){
        var d = new Date();
        var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
        var months = ['January','February','March','April','May','June','July','August','September','October','November','December']
        document.getElementById('date').innerHTML = days[d.getDay()]+" | "+d.getDate()+"  "+months[d.getMonth()]+" "+getFullYear();
    }
    startDate();

</script>    
</body>
</html>

