{% extends 'dashboard/base.html' %}
{% load static %}


    {% block content %}
    <h2>Register New Landlord</h2>
    <form action="">
        <label for="f_name">First Name:</label>
        <input type="text">
        <label for="l_name">Last Name:</label>
        <input type="text">
        <label for="email">Email Adress:</label>
        <input type="email">

        <label for="phone_no">Phone Number:</label>
        <input type="number">

        <label for="id_number">ID Number:</label>
        <input type="number">

        <label for="apartment">Name of Apartment:</label>
        <input type="text">

        <button type="submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-danger">Cancel</button>

    </form>
    {% endblock content %}




