{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


    {% block content %}
    {% for message in messages %}
    <h4>{{message}}</h4>
    {% endfor %}
    <h2>All Tenants</h2>
    <div class="container">
        <h4>Search For Specific Tenant Based on Any of the Fields</h4>
        <form method="get">
            <div class="row">
                <div class="col-md-4">{{ myFilter.form.tenant_name|as_crispy_field}}</div>
                <div class="col-md-4">{{ myFilter.form.national_Id|as_crispy_field}}</div>
                <div class="col-md-4">{{ myFilter.form.phoneNumber|as_crispy_field}}</div>
            </div><br>
            <button class="btn btn-success" type="submit">Search</button>
        </form>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Tenant Name</td>
                    <td>National ID</td>
                    <td>Email Address</td>
                    <td>Phone Number</td>
                    <td>Physical Address</td>
                    <td>Occupation</td>
                    <td>Emergency Contact</td>
                    <td>Emergency Contact</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                {% for tenant in myFilter.qs %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{tenant.tenant_name}}</td>
                    <td>{{tenant.national_Id }}</td>
                    <td>{{tenant.email_address}}</td>
                    <td>{{tenant.phoneNumber}}</td>
                    <td>{{tenant.physical_Adress}}</td>
                    <td>{{tenant.Occupation}}</td>
                    <td>{{tenant.emergency_person_name}}</td>
                    <td>{{tenant.emergency_person_contact}}</td>
                    <td><a href="{% url 'tenant_details' tenant.id %}"><button class="btn btn-warning">Details</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
    
        </table>

    </div>
    
    {% endblock content %}




