{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    
        <div class="container">
            <h5>Vacant Houses</h5>
            <form action="" method="get">
                <div class="row">
                    <div class="col-md-4">{{ myFilter.form.apartment|as_crispy_field}}</div>
                        <div class="col-md-4">{{ myFilter.form.house_no|as_crispy_field}}</div>
                        <div class="col-md-4">{{ myFilter.form.house_type|as_crispy_field}}</div>
                </div><br>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Apartment</td>
                            <td>House Number</td>
                            <td>Monthly Rent</td>
                            <td>House Type</td>
                            <td>Date created</td>
                            <td>Action</td>
                        </tr>
                        <tbody>
                            {% for house in myFilter.qs %}
                            <tr>
                                <td>{{house.apartment}}</td>
                                <td>{{house.house_no}}</td>
                                <td>{{house.monthly_rent}}</td>
                                <td>{{house.house_type}}</td>
                                <td>{{house.date_created}}</td>
                                <td><a href="{% url 'assignhouses' house.id %}"><button class="btn btn-success">Place Tenant</button></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
            
                    </thead>
            
            
                </table>
              </div>
        </div>

    </div>
    
</div>

{% endblock content %}