{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
    
        <div class="container">
            <h5>Vacant Houses</h5>
            <form action="">
                <button type="button" class="btn btn-primary">Search</button>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <td>Apartment</td>
                        <td>House Number</td>
                        <td>Monthly Rent</td>
                        <td>House Type</td>
                        <td>Date created</td>
                        <td>Action</td>
                    </tr>
                    <tbody>
                        {% for house in houses %}
                        <tr>
                            <td>{{house.apartment}}</td>
                            <td>{{house.house_no}}</td>
                            <td>{{house.monthly_rent}}</td>
                            <td>{{house.house_type}}</td>
                            <td>{{house.deposit}}</td>
                            <td>Date created</td>
                            <td><a href="{% url 'assignhouses' house.id %}"><button class="btn btn-success">Place Tenant</button></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
    
                </thead>
    
    
            </table>
        </div>

    </div>
    
</div>
{% endblock content %}